<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
    </head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody id="products">
            <% productos.forEach(function(producto){ %>
                <tr>
                    <th scope="row"> <%= producto.id %> </th>
                    <td><%= producto.title %></td>
                    <td><%= producto.price %></td>
                    <td> <img src="<%= producto.thumbnail %>"></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
