<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
    </head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody id="products">
                <tr>
                    <th scope="row"> <%= productos.id %> </th>
                    <td><%= productos.title %></td>
                    <td><%= productos.price %></td>
                    <td> <img src="<%= productos.thumbnail %>"></td>
                </tr>
        </tbody>
    </table>
</body>
